/* GENERAL STYLE */

:root {
    --text-blue: #46719A;
    --blue-gradient-top: rgba(76, 117, 174, 1);
    --blue-gradient-bottom: rgba(39, 93, 137, 1);
    --darker-gray: #999F97;
    --dark-gray: #DCDCDC;
    --light-gray: #F5F5F5;
    --gray-gradient-top: rgba(255, 255, 255, 1);
    --gray-gradient-bottom: rgba(227, 227, 227, 1);
}

body {
    font-family: Helvetica, sans-serif;
}

.online {
    display: block;
    position: absolute;
    background: linear-gradient(180deg, #ACCB88 0%, #73A736 100%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid white;
    top: -5px;
    right: -5px;
}

.form-control {
    /* Replace default form-control radius */
    border-radius: .15rem;
}

.error {
    border-color: red!important;
}

.mapa {
    background: black;
    width: 100%;
    height: 150px;
}

.form-inline {
    position: relative;
    padding-left: 1rem;
}

.form-error {
    font-size: 13px;
    text-align: end;
    color: crimson;
    margin: 0;
}

.selected {
    color: black!important;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: var(--text-blue);
}

i {
    margin-right: 4px;
}

img {
    max-width: 100%;
    height: auto;
}

.no-margin {
    margin: 0;
}

.no-bottom-line {
    border-bottom: none!important;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0!important;
}

.box {
    border: 1px solid var(--dark-gray);
    border-radius: .2rem;
    padding: 1px;
}


/* LOADING SCREEN */

.loading-screen {
    background: linear-gradient(180deg, var(--gray-gradient-top) 0%, var(--gray-gradient-bottom) 100%);
    min-height: 100vh;
}

.loading-wrapper {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 14px;
    min-width: 250px;
}

.loading-wrapper p {
    margin: 0;
}

.loading-wrapper span {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1px solid var(--dark-gray);
}

.loading-process {
    font-weight: bold;
}

.load-text {
    display: flex;
}

.loading-bar {
    margin-top: 5px;
    width: 120%;
    background: var(--light-gray);
    height: 15px;
    align-items: center;
    display: flex;
    padding: 2px;
}

.load {
    height: 100%;
    content: " ";
    width: 1%;
    background: linear-gradient(180deg, var(--blue-gradient-top) 0%, var(--blue-gradient-bottom) 100%);
}

.load-content {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    opacity: 0;
    transition: 1.5s;
}

.load-title {
    height: 15px;
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--dark-gray);
}

.load-title img {
    height: 100%;
    margin: 0 5px;
}

.load-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 60%;
    position: relative;
}

.load-image-wrapper {
    padding: 10px;
    background: var(--light-gray);
}


/* SWITCH INPUT STYLE */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-gray);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 25px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid var(--dark-gray);
    border-radius: .1rem;
}

input:checked+.slider {
    background: linear-gradient(180deg, var(--blue-gradient-top) 0%, var(--blue-gradient-bottom) 100%);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--blue-gradient-bottom);
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}


/* LOADING DIV STYLE */

.lds-ring {
    position: relative;
    width: 20px;
    height: 23px;
    margin: 5px auto;
    align-items: center;
}

.lds-ring div {
    margin-top: 2px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border: 8px solid var(--blue-gradient-bottom);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--blue-gradient-bottom) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* NAVBAR STYLE */

.navbar-brand img {
    height: 40px;
}

.navbar-collapse {
    height: 60px;
}

.main-nav {
    background: rgb(92, 142, 186);
    background: linear-gradient(180deg, rgb(92, 142, 186) 0%, rgb(71, 118, 158) 100%);
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}

.main-nav-options {
    display: flex;
    height: 100%;
}

.main-nav-options a {
    color: white;
    height: 100%;
    padding: 18px 1rem 0 1rem!important;
}

.main-nav-options a:hover {
    background: rgb(71, 116, 159);
    background: linear-gradient(180deg, var(--blue-gradient-top) 0%, var(--blue-gradient-bottom) 100%);
}

.btn-blue {
    background: var(--blue-gradient-bottom);
    background: linear-gradient(180deg, var(--blue-gradient-top) 0%, var(--blue-gradient-bottom) 100%);
    border-color: #3D6F9C;
    color: white;
    font-weight: bold;
}

.btn-blue i {
    margin-left: 8px;
}

.btn-gray {
    background: var(--gray-gradient-bottom);
    background: linear-gradient(180deg, var(--gray-gradient-top) 0%, var(--gray-gradient-bottom) 100%);
    border-color: var(--dark-gray);
    color: black;
    font-weight: bold;
}

.btn-gray i {
    margin-left: 8px;
}

.fa-search {
    position: absolute;
    right: 17px;
    color: var(--blue-gradient-top);
}

.nav-search {
    height: 31px;
    padding-right: 25px;
}

.dropdown-toggle {
    color: white;
}

.dropdown-toggle:hover {
    color: black;
}

.dropdown-item {
    color: #506884;
}

.dropdown-menu {
    margin-top: 13px;
}

.dropdown-menu i {
    position: absolute;
    font-size: 40px;
    top: -15px;
    color: white;
    right: 25px;
    text-shadow: 0px -1px var(--dark-gray);
}

.navbar-toggle-icon {
    color: black;
}


/* MAIN PAGE */


/* SIDEBAR STYLE */

.main-sidebar {
    background: var(--light-gray);
    border-left: 1px solid var(--dark-gray);
    border-right: 1px solid var(--dark-gray);
    position: relative;
}

.sidebar-area {
    margin-top: 20px;
    margin-left: 5px;
    padding: 15px;
    background-color: white;
    border-left: 1px solid var(--dark-gray);
    border-bottom: 1px solid var(--dark-gray);
    border-top: 1px solid var(--dark-gray);
    border-right: 1px solid white;
    -webkit-box-shadow: 10px 6px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 10px 6px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 10px 6px 5px 0px rgba(0, 0, 0, 0.16);
    width: 110%;
}

.sidebar-area-mini {
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 5%;
}

.profile-tab {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-name {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.profile-links {
    display: flex;
    font-size: 15px;
    margin-bottom: 5px;
}

.profile-links a {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid var(--dark-gray);
}

.profile-links a:last-of-type {
    border-right: none;
}

.profile-visits {
    margin: 0;
    color: var(--darker-gray);
    font-size: 14px;
}

.profile-visits i {
    font-size: 16px;
    margin-right: 0;
}

.profile-visits span {
    color: black;
}

.sidebar-area-mini img {
    height: 50px;
}

.sidebar-calendar {
    margin-top: 20px;
    margin-left: 5px;
}

.sidebar-event-info {
    margin-top: 20px;
    margin-left: 5px;
}

.all-events {
    font-size: 12px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark-gray);
    padding-bottom: 3px;
    margin-bottom: 10px;
    width: 95%;
}

.sidebar-image {
    width: 97%;
    padding: 1px;
}

.event-info {
    width: 100%;
}

.sidebar-title h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.sidebar-addon {
    position: absolute;
    right: 10px;
    font-size: 13px;
    font-weight: bold;
    color: var(--text-blue);
    margin: 0;
}

.sidebar-addon:hover {
    cursor: pointer;
}

.calendar-dates {
    width: 95%;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 7px;
}

.calendar-subtitle {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0;
}

.calendar-subtitle p {
    margin-bottom: 0;
}

.calendar-event {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 3px;
}

.calendar-event p {
    margin-bottom: 4px;
}

.event-name {
    padding: 0;
    width: 80%;
}

.event-date {
    color: var(--darker-gray);
    font-weight: normal;
    margin-left: 15px;
    min-width: 50px;
}

.no-events {
    color: var(--darker-gray);
    font-weight: normal;
}

.sidebar-seall {
    font-size: 11px;
}


/* POST AREA STYLE */

.main-area {
    margin-top: 60px;
}

.main-post-area {
    min-height: calc(100vh - 60px);
    background-color: #fff;
}

.main-post-area .row {
    padding-left: 10px;
}


/* EVENT PAGE */


/* SIDEBAR STYLE */

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.info-title {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.9;
    margin-left: 20px;
    width: 100%;
}

.info-sub {
    color: var(--darker-gray);
    display: flex;
}

.info-sub span {
    color: black;
}

.info-sub p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.event-map {
    width: 95%;
    height: 200px;
    margin-left: 13px;
    border: 1px solid var(--dark-gray);
    padding: 1px;
}

.event-photo img {
    border: 1px solid var(--dark-gray);
}


/* MAIN AREA STYLE */

.main-title {
    margin: 20px 0 0 0;
    font-size: 25px;
    word-break: break-word;
}

.main-title span {
    margin-bottom: 0;
    color: var(--darker-gray);
    font-size: 14px;
}

.event-duration {
    min-width: fit-content;
}

.title-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
}

.main-title i {
    color: var(--darker-gray);
}

.category-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-gray);
}

.category-title h3 {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 4px;
}

.category-title-wrapper {
    font-size: 14px;
}

.event-description {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 30px;
    word-break: break-word;
    transition: .5s;
}

.event-description textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    font-size: 14px;
}

.event-desc-btns {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.event-desc-btns input {
    margin-left: 10px;
    font-size: 12px;
    height: fit-content;
}

.event-desc-btns button {
    font-size: 12px;
    height: fit-content;
}

.new-post {
    margin-top: 3px;
    width: 100%;
    padding: 20px;
    background: var(--light-gray);
    display: flex;
}

.new-post textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 40px;
}

.new-post img {
    max-height: 40px;
    width: 40px;
    margin-right: 10px;
}

.no-posts {
    margin-top: 10px;
    color: var(--darker-gray);
    font-size: 13px;
}


/* RIGHT SIDEBAR STYLE */

.right-sidebar-title:first-of-type {
    margin-top: 30px;
}

.right-sidebar-title {
    margin-top: 15px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--dark-gray);
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 2px;
    display: flex;
}

.invite-friends {
    width: 70%;
    padding: 0;
    background: linear-gradient(180deg, var(--gray-gradient-top) 0%, var(--gray-gradient-bottom) 100%);
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-gray);
}

.invite-friends i {
    padding: 7px;
    color: white;
    background: rgb(246, 201, 116);
    background: linear-gradient(180deg, rgba(246, 201, 116, 1) 0%, rgba(246, 181, 89, 1) 100%);
    border: 1px solid rgba(246, 181, 89, 1);
    font-size: 10px;
}

.invite-friends p {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 13px;
}

.event-notifications {
    margin-top: 20px;
    padding: 5px;
}

.event-notifications .switch {
    border: 1px solid var(--dark-gray);
    border-radius: .2rem;
}

.event-notifications form {
    display: flex;
    align-items: center;
    background: var(--light-gray);
    padding: 5px;
}

.event-notifications p {
    margin-bottom: 0;
    font-size: 12px;
    margin-right: 10px;
    font-weight: bold;
    min-width: fit-content;
}

.event-stats {
    display: flex;
    width: 100%;
    height: 120px;
}

.stat-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.stat-buttons .btn {
    position: relative;
    background: linear-gradient(180deg, var(--gray-gradient-top) 0%, var(--gray-gradient-bottom) 100%);
    font-size: 12px;
    width: 30%;
    padding: 2px 0;
    border: 1px solid var(--dark-gray);
}

.onlyone {
    width: 100%!important;
}

.btn-badge {
    position: absolute;
    width: 13px;
    height: 13px;
    background: linear-gradient(180deg, var(--blue-gradient-top) 0%, var(--blue-gradient-bottom) 100%);
    top: -5px;
    right: -5px;
    border-radius: 10px;
    font-size: 7px;
    transition: 1s;
    display: grid;
}

.close-btn:hover {
    cursor: pointer;
}

.btn-badge i {
    margin: auto;
    color: white;
    vertical-align: bottom;
}

.chart {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
}

.chart-value {
    font-size: 13px;
    margin-bottom: 0;
}

.chart-data {
    width: 98%;
    display: block;
    height: 100%;
    position: relative;
    text-align: center;
    transition: .5s;
}

.chart-data div {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.chart-label {
    margin-top: 5px;
    height: 20%;
    word-break: break-word;
    font-size: 11px;
    text-align: center;
}

.right-sidebar-title-2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}

.sidebar-user {
    margin-bottom: 5px;
    padding: 1px;
}

.sidebar-user img {
    border: 1px solid var(--dark-gray);
    padding: 1px;
}

.user-images {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5px;
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 0;
}

.user-photo {
    font-size: 11px;
    line-height: 1.3;
    display: flex;
}

.sidebar-user p {
    margin-bottom: 0;
}

.user-wrapper {
    position: relative;
}

.edit-window {
    position: fixed;
    width: 45%;
    height: 0;
    top: 13%;
    left: 27.5%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 0px 7px #adadadab;
    -moz-box-shadow: 0px 0px 0px 7px #dcdcdcab;
    box-shadow: 0px 0px 0px 7px #adadad7e;
    padding-bottom: 10px;
    padding-top: 6px;
    z-index: 4;
    resize: both;
    transition: .5s;
}

.edit-wrapper {
    height: 100%;
    border-radius: 5px;
    margin: 10px auto auto auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 15px 15px 15px;
    overflow-y: scroll;
}

.edit-wrapper::-webkit-scrollbar {
    display: none;
}

.close-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -15px;
    right: -15px;
    color: white;
    background: linear-gradient(180deg, var(--blue-gradient-top) 0%, var(--blue-gradient-bottom) 100%);
    display: grid;
    border-radius: 100%;
    font-size: 13px;
    border: 2px solid white;
    padding: 1px;
    box-shadow: 0 0 0 1px var(--dark-gray);
}

.close-btn i {
    margin: auto;
}

.close-btn:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 100%;
    border: 5px solid #ffea00;
}

.edit-title {
    font-size: 17px;
    display: flex;
    border-bottom: 1px solid var(--dark-gray);
    padding-bottom: 3px;
}

.edit-title li {
    margin-left: 20px;
    color: var(--darker-gray);
}

.edit-title p:hover {
    cursor: pointer;
}

.edit-info {
    position: relative;
    color: gray;
}

.edit-info-title {
    margin-left: 10%;
}

.edit-info-section {
    margin-top: 10px;
    font-size: 16px;
    margin: auto;
    color: black;
    border-bottom: 1px solid var(--dark-gray);
    padding: 0 10% 15px 10%;
    margin-bottom: 20px;
}

.section-input {
    display: grid;
    grid-template-columns: 25% 70%;
    justify-content: space-between;
    margin: 10px 0;
}

.section-input label {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    text-align: end;
    width: 100%;
}

.section-input input {
    width: 100%;
    font-size: 12px;
}

.section-input textarea {
    font-size: 12px;
    resize: none;
    overflow: hidden;
    min-height: 40px;
}

.twoinone {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
}

.option {
    display: flex;
    align-items: center;
    font-size: 12px!important;
    justify-content: center;
    text-align: left!important;
}

.option input {
    width: unset;
    margin: 0 5px;
}

.invitation-radio {
    width: 100%;
}

.invitation-radio label {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    text-align: start;
    font-size: 12px;
    font-weight: normal;
}

.invitation-radio label input {
    margin-top: 2px;
}

.last-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.last-section a {
    position: absolute;
    margin-bottom: 0;
    right: 20px;
    bottom: 0;
    color: crimson;
    font-size: 14px;
}

.blurred {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 4;
    opacity: 0;
    transition: .5s;
}

.item-box {
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 10px;
    align-items: self-end;
    margin-top: 5px;
}

.user-name {
    font-size: 13px;
}

.user-date {
    font-size: 11px;
    color: gray;
    margin: 0;
}

.sidebar-title-2 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.main-links {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main-links .btn {
    font-size: 12px;
    padding: 2px 5px;
    color: gray;
    font-weight: normal;
}

.main-links .btn i {
    margin: 0 4px 0 0;
}

.user-status {
    background-color: var(--light-gray);
    color: gray;
    padding: 10px;
    font-size: 15px;
    position: relative;
    width: 100%;
    min-height: 44px;
    word-break: break-word;
}

.user-status i {
    position: absolute;
    left: -6px;
    color: var(--light-gray);
    font-size: 20px;
    text-shadow: -1px 0 var(--dark-gray);
}

.main-category {
    padding: 15px 0;
}

.wall-options {
    display: flex;
    align-items: center;
    margin: 0;
    width: 36%;
    justify-content: space-between;
    font-size: 12px;
}

.wall-options a {
    border-right: 1px solid var(--dark-gray);
    padding-right: 6px;
}

.wall-options li:last-of-type a {
    border: none;
}

.wall-options span {
    color: gray;
    font-size: 11px;
}

.sidebar-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-gray);
    margin: 0;
    padding-bottom: 5px;
}

.sidebar-photo {
    display: flex;
    flex-basis: 45%;
    max-width: 100%;
}

.user-status input {
    border: none;
    background: none;
}

.edition-mode {
    background: white;
    box-shadow: inset 0 2px 3px 0 var(--dark-gray);
}

.edition-mode textarea {
    padding-left: 25px;
    width: 100%;
    word-break: break-all;
    border: none;
    resize: none;
    overflow: hidden;
    font-size: 19px;
    vertical-align: middle;
    color: gray;
}

.edition-mode textarea:focus {
    outline: none;
}

.edition-mode i {
    color: white;
}

.user-status-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    margin-top: 7px;
}

.user-status-bottom .btn {
    padding: 4px 30px;
    height: fit-content;
    font-weight: normal;
    font-size: 12px;
}

.user-status-bottom p {
    margin: 0;
    color: gray;
    font-size: 13px;
    word-break: break-word;
    flex-basis: 80%;
}

.user-status-bottom span {
    font-weight: bold;
    color: Black;
}

.user-status .fa-pen {
    left: 15px;
    top: 19px;
    color: var(--darker-gray);
    font-size: 13px;
}

.title-wrapper form {
    width: 100%;
}

.sidebar-element-empty {
    border-bottom: 1px solid var(--dark-gray);
    color: gray;
    font-size: 12px;
    padding-bottom: 10px;
}

.friend-petition {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.friend-petition p {
    margin: 0;
    color: gray;
}

.petition-buttons form {
    display: flex;
    justify-content: flex-end;
}

.petition-buttons .btn-blue {
    margin-right: 10px;
    color: white;
}

.user-status span {
    font-size: 10px;
}

.status-date {
    color: var(--darker-gray)!important;
    font-weight: normal!important;
    font-size: 11px;
}

.main-addon {
    margin: 0;
    color: var(--text-blue);
}

.main-addon:hover {
    cursor: pointer;
}

.user-options {
    display: flex;
}

.user-options button {
    font-weight: normal;
    font-size: 11px;
    padding: 1px 10px;
    margin-right: 5px;
    color: gray;
}

.user-options i {
    margin-right: 5px;
    margin-left: 0;
}

.no-blog {
    color: var(--darker-gray);
    margin-top: 15px;
    font-size: 13px;
}

.personal-space span {
    color: var(--text-blue);
    cursor: pointer;
}

.blog-input input {
    padding: 5px;
}

.blog-input:first-of-type {
    align-items: center;
}

.create-blog {
    margin-top: 10px;
    width: 100%;
    background-color: var(--light-gray);
    padding: 20px;
}

.create-blog textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    font-size: 14px;
    min-height: 50px;
    padding: 5px;
}

.buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-side {
    display: flex;
    align-items: center;
    margin-left: 15%;
    font-size: 13px;
}

.left-side input {
    font-size: 13px;
    font-weight: normal;
    padding: 3px 15px;
    margin-right: 10px;
}

.left-side p {
    margin: 0;
    color: var(--text-blue);
    cursor: pointer;
}

.right-side {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.right-side button {
    color: gray;
    font-weight: normal;
    font-size: 11px;
    padding: 2px 10px;
    margin-left: 5px;
}

.right-side button i {
    margin-left: 0;
    margin-right: 5px;
}

.right-side span {
    color: black;
    cursor: default;
    font-weight: bold;
    margin-right: 5px;
}

.blog-input {
    display: grid;
    grid-template-columns: 15% 85%;
    margin-top: 10px;
}

.blog-input label {
    text-align: end;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
}